* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.pokedex {
    width: 400px;
    height: 600px;
    background: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 5px solid black;
}

.screen {
    background: black;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.power-light {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.indicator {
    width: 100px;
    height: 10px;
    background-color: yellow;
}

.pokemon-info {
    text-align: center;
    color: white;
}

.pokemon-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.pokemon-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    padding: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    .next-button {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: green;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(0, 128, 0);
        }
    }
#pokemon-id-input {
    width: 130px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
}
.search-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.pokemon-type {
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.pokemon-type.grass {
    background-color: green;
    border: 1px solid white;
}

.pokemon-type.poison {
    background-color: violet;
    border: 1px solid white;
}
.pokemon-type.fire {
    background-color: red;
}
.pokemon-type.water {
    background-color: blue;
}
.pokemon-type.bug{
    background-color: brown;
}
.pokemon-type.flying {
    background-color: #75d0f7;
}
.pokemon-type.normal {
    background-color: gray;
}
.pokemon-type.electric {
    background-color: yellow;
}
.pokemon-type.ground {
    background-color: orange;
}
.pokemon-type.fairy {
    background-color: pink; 
}
.pokemon-type.fighting {
    background-color: rgb(128, 60, 0);
}
.pokemon-type.psychic {
    background-color: rgb(221, 0, 255);
}
.pokemon-type.rock {
    background-color: rgb(182, 118, 8);
}
.pokemon-type.ghost {
    background-color: rgb(195, 0, 255);
}
.pokemon-type.steel {
    background-color: rgb(119, 119, 142);
}
.pokemon-type.ice {
    background-color: rgb(255, 255, 255);
    color: black;
}
.pokemon-type.dragon {
    background-color: rgb(85, 0, 255);
}